
.red-button {   
        background-color: red;
        color: white;
        font-size: 30px; 
        border: none;
        width: 200px
}





/* Background color: red
Text color: white
Font-size: 30px
Border: none
Width: 200px */